<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zed.mapper.AddressMapper">

    <resultMap type="com.zed.pojo.Address" id="AddressMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="userAddress" column="user_address" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <association property="user" javaType="com.zed.pojo.User">
            <id property="id" column="uid" />
            <result property="name" column="name" />
        </association>
    </resultMap>

    <insert id="addAddress" keyProperty="id" useGeneratedKeys="true">
        insert into mydb.address(id, type, user_address, user_id)
        values (#{id}, #{type}, #{userAddress}, #{userId})
    </insert>

</mapper>